{{define "category-form"}}
{{if .msg}}<p class="msg">{{.msg}}</p>{{end}}
<form id=categoryForm method="post" action="/app/categories/edit/">
    {{if .id}}<input type="hidden" name=id value="{{.id}}">{{end}}
    <fieldset class=grid>
        <label>Category
            <select name=category required>
                <option value=expense {{if eq .category "expense" }}selected{{end}}>Expense</option>
                <option value=income {{if eq .category "income" }}selected{{end}}>Income</option>
            </select>
        </label>
        <label>Subcategory
            <input type=text name=subcategory value="{{.subcategory}}" required autofocus>
        </label>
    </fieldset>
</form>

<footer class="grid reverse">
    <button type=submit form=categoryForm style="margin: 0;">Save</button>
    {{if .modal}}
    <form method=dialog class=grid>
        <button class=secondary value=cancel>Cancel</button>
    </form>
    {{end}}
    {{if .edit}}
    <a href="/app/categories/edit/" role="button">Add Another Category</a>
    {{end}}
</footer>
{{end}}