<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/web/images/cash.ico" rel="icon" type="image/x-icon">
    <title>{{block "title" .}}{{end}} $ Cash Tracker</title>
    <link href="/web/css/pico.min.css" rel=stylesheet>
    <link href="/web/css/app.css" rel=stylesheet>
    <script type="module" src="/web/js/app.js"></script>
    <link href="/web/manifest.json" rel="manifest">
</head>

<body class="pico container">

    <header>
        <nav role="navigation" data-breakpoint="md">
            <ul>
                <li>
                    <a href="/app/transactions/edit/">
                        <img src="/web/images/cash.svg" style="height:2.5em;min-width:2.5em;"
                            alt="Cash Tracker Logo"></img>
                    </a>
                </li>
                {{if not .loggedOut}}
                <li id="sync" hidden><button>Sync Data</button></li>
                {{end}}
            </ul>
            {{if not .loggedOut}}
            <input type="checkbox" id="hamburger" />
            <label class="fs-1" for="hamburger">&#x2261;</label>
            <ul role="list">
                <li role="listitem"><a href="/app/transactions/edit/">New Transaction</a></li>
                <li role="listitem"><a href="/app/transactions/">Transactions</a></li>
                <li role="listitem"><a href="/app/categories/">Categories</a></li>
                <li role="listitem"><a href="/app/export/">Export</a></li>
                <li role="listitem"><a href="/app/logout/">Logout</a></li>
            </ul>
            {{end}}
        </nav>
        {{block "header" .}}<h2>Cash</h2>{{end}}
    </header>

    <main> {{block "main" .}}{{end}} </main>

    <footer></footer>

</body>

</html>