{{define "title"}}{{.title}}{{end}}

{{define "header"}}
<h2>{{.header}}</h2>
{{end}}

{{define "main"}}
{{if .msg}}<p class="msg">{{.msg}}</p>{{end}}
<form method="post" action="/app/transactions/edit">
    <input type="hidden" name="id" value="{{.id}}">
    <fieldset class="grid">
        <label>Date*
            <date-fill>
                <input type=date name=date value="{{.date}}" required>
            </date-fill>
        </label>
        <label>Description
            <input type=text name=description value="{{.description}}">
        </label>
    </fieldset>

    <input type=hidden name=detailId >
    <fieldset data-categories class="grid">
        <label>Category*
            <select name=categoryId required>
                {{range .categories}}
                    <option value="{{.id}}"  {{if eq $.categoryId .id}}selected{{end}}>{{.category}}</option>
                {{end}}
            </select>
        </label>
        <label>Amount*
            <input type=number step="0.01" name=amount required value="{{.amount}}" {{if not .edit}}autofocus{{end}}>
        </label>
    </fieldset>

    <div class="grid reverse">
        <button type=submit style="margin:0">Save</button>
        <!-- <button>Add Detail</button> -->
        <a role="button" href="/app/categories/edit">Add Category</a>
    </div>
</form>
<br><p><small>* required</small></p>
{{end}}
