{{define "title"}}{{.title}}{{end}}

{{define "header"}}
<h2>{{.header}}</h2>
{{end}}

{{define "main"}}
<div id="msg">
{{if .msg}}<p class="msg">{{.msg}}</p>{{end}}
</div>

<form id="transaction-edit-form" method="post" action="/app/transactions/edit/">
    {{if .id}}<input type=hidden name=id value="{{.id}}">{{end}}
    <fieldset class="grid">
        <label>Date*
            <date-fill>
                <input type=date name=date value="{{.date}}" required>
            </date-fill>
        </label>
        <label>Description
            <input type=text name=description value="{{.description}}">
        </label>
    </fieldset>

    <fieldset data-categories class="grid">
        <label>Category*
            {{template "select-category" .}}
        </label>
        <label>Amount*
            <input type=number step="0.01" name=amount required value="{{.amount}}" {{if not .edit}}autofocus{{end}}>
        </label>
    </fieldset>
</form>

<div class="grid reverse">
    <button form="transaction-edit-form" class="m-0" type=submit>Save</button>
    <button form="transaction-edit-form" formaction="/app/transactions/edit/?addAnother" class="m-0" type=submit
        hf-select="#transaction-edit-form">
        Save &amp; New</button>
    <form action="/app/categories/edit/" hf-target="#dialog">
        <button class="w-100">Add Category</button>
    </form>
</div>

<br>
<p><small>* required</small></p>
<script src="/web/js/html-form.min.js" type="module"></script>
<div id="dialog"></div>
{{end}}