body {
    padding: 1em 0.5em 50vh 0.5em;
}

/** RTL for Grid **/
.reverse {
    direction: rtl;
}

.msg {
    color: coral;
    font-size: large;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.px-3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.fs-1 {
    font-size: 2rem;
}